
.body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.progress {
  background-color: greenyellow;
  height: 30px;
  width: 300px;
  border-radius: 20px;
}

.progress-done {
  background: linear-gradient(to left, yellow);
  box-shadow: 0 3px 3px -5px yellow, 0 2px 5px yellow;
  background-color: hotpink;
  height: 100%;
  opacity: 0;
  width: 0;
  border-radius: 20px;
  transition: 1s ease 0.3s;
}
